<h1>Booking created</h1>
<h3>Flight:</h3>
<div class="flight">
  <%= render partial: 'flights/flight', locals: { flight: @booking.flight } %>
</div>
<h3>Passengers</h3>
<div class="passengers">
  <%= render @booking.passengers %>
</div>